* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --bg-color: #f4f5f4;
  --color-darkgreen: #1d4c56;
  --color-lightgreen: #45bc97;
  --color-badge: #96b099;
  --color-brown: #b4ab48;
  --color-darkbrown: #88600e;
  --color-lightbrown: #d1d092;
  --color-subheading: #08090acc;
  --color-blue: #3a88c8;
  --color-lightpink: #bca794;
  --color-black: #000;

  --text-white: #f4f5f4;
  --text-black: #09080a;
}

header {
  background-image:
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.221)
    ),
    url(./assets//bg-light.svg);
  background-repeat: no-repeat;
  background-size: 110% auto;
  background-repeat: no-repeat;
  background-position: center -85px;
}

header nav {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  gap: 3rem;
  backdrop-filter: blur(15px);
  position: sticky;
  z-index: 1000;
  top: 0px;
}

.nav-logo-link-wrapper {
  display: flex;
  gap: 12rem;
  padding: 0px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 100px;
}

.link {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.link li {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link li a {
  font-size: 15px;
  text-decoration: none;
  color: var(--text-black);
  font-weight: 500;
  height: 2rem;
  display: flex;
  align-items: center;
  padding: 4px 12px;
}

.nav-button-wraper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.contact-sales-btn {
  gap: 6px;
  height: fit-content;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 9999px;
  border: none;
  background-color: rgba(244, 244, 244, 0.07);
  color: var(--text-black);
}

.start-for-free-btn {
  gap: 6px;
  height: fit-content;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 9999px;
  border: 1px solid transparent;
  background-color: var(--color-black);
  color: var(--text-white);
}



.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
}

.badge {
  border-radius: 50px;
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
  background-color: #1818182e;
  width: fit-content;
  color: var(--text-white);
}

.badge span {
  padding: 0.125rem 0.5rem;
  background-color: #0c8c5e;
  border-radius: 50px;
  margin: 1px;
  font-size: 12px;
}
.badge p {
  font-size: 14px;
  font-weight: 600;
}
.badge svg {
  width: 1rem;
}


.hero h1 {
  width: 100%;
  max-width: 43rem;
  font-size: 55px;
  text-align: center;
  color: var(--text-white);
  font-weight: 600;
  line-height: 1.15;
  margin-top: 50px;
}


.subheading {
  color: var(--bg-color);
  margin-top: 24px;
  font-size: 18px;
  text-wrap: balance;
  line-height: 1.5rem;
  max-width: 29.5rem;
  margin-inline: auto;
  width: 100%;
  text-align: center;
}

.hero form {
  margin-top: 2rem;
  padding: 0.25rem;
  width: 100%;
  max-width: 22.5rem;
  display: flex;
  align-items: center;
  gap: 0.375rem;
  border-radius: 9999px;
  border: 1px solid var(--border-soft, #e5e7eb3b);
  background-color: var(--border-soft, rgba(237, 237, 237, 0.188));
  backdrop-filter: blur(12px);
}

form input {
  background-color: transparent;
  padding: 0px 0.5rem;
  outline: none;
  border: none;
  color: var(--bg-color);
  width: 100%;
}

form input::placeholder {
  color: #d6d6d6;
}

.email-cta-btn {
  justify-content: center;
  gap: 0.375rem;
  height: fit-content;
  flex-shrink: 0;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  color: var(--color-black);
  padding: 4.5px 12px;
  border-radius: 9999px;
  border: 1px solid var(--bg-color);
  background-color: var(--bg-color);
}

.hero-background-illustration {
  overflow: hidden;
  border-radius: 20px;
  margin-top: 100px;
  background-size: cover;
  background-position: center;
}
.hero-background-illustration img {
  border-radius: 10px;
}